# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.vscode/

# Environment
.env
.env.local
.env.*.local

# Project specific
*.log
